<div class='chatroom'>
    <button (click)="loggout()" class="logout-button">Logout</button>
    <div class="chat-room-container">
        <div style="display: flex; height: 500px; flex-direction: column-reverse; overflow: auto">
            @for (message of messages; track $index) {
            @if(message.username === username) {
            <div style="margin: 0; margin-left: auto; padding-right: 20px; word-break: break-all;">
                {{ message.username }}
                :
                {{ message.message }}
            </div>
            } @else {
            <div style="margin: 0; padding-left: 20px; word-break: break-all;">
                {{ message.username }}
                :
                {{ message.message }}
            </div>
            }

            <br>
            }
        </div>
        <div class="input-container" style="margin-top: 20px;">
            <form (submit)="onSubmit()" [formGroup]="formulaire">
                <input type="text" placeholder="Ecrire un message..." class="message-input" formControlName="message" />
                <div class="send-button-container">
                    <button type="submit">
                        <img class="send-button" src="assets/send.png" alt="Send" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>